@import "../../Assets/Variables.less";

// .Page__Github {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-between;
// }

.Page__GithubItem {
    flex: 1 0 250px;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.04);
    transition: background-color .3s linear;
    word-break: break-word;
    hyphens: none;
    
    &:hover {
      background-color: @color-dark-hover;
    }
    .Page__GithubItemInner {
      margin: 10px;
      line-height: 23px;
      
    }

    // .IssuesCount{
    //   padding-left: 5px;
    // }
  // TODO
  .centered-label {
    display: flex;
    align-items: center;
    > svg {
      margin-right: 5px;
    }
    > a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 330px;
      display: block;
      padding-bottom: 2px;
    }
  }
}
