@import "../../Assets/Variables.less";

.Article, .Page_Articles {
    padding: 20px;
    // background-color: @color-white; //rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    // &:hover {
    //     background-color: rgba(0, 0, 0, 0.6) !important;
    // }
}

.Page_Article {
  & .Article__List {
    margin-left: -12px;
  }
  & > .Page__Inner {
    margin: 20px 20px 0 40px;
  }
}

.Article__List {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  > .Article__Item {
      flex: 0 0 calc(33.333% - 7px);
  }
  @media (max-width: 768px) {
      > .Article__Item {
          flex: 0 0 calc(50% - 5px);
      }
  }
  @media (max-width: 480px) {
      > .Article__Item {
          flex: 0 0 100%;
      }
  }
}

.Article__Item {
  padding: 12px;
  margin-right: 20px;
  list-style-type: none;
  position: relative;

  > a {
    @media (min-width: @mobileWidth) {
      text-decoration: none;
    }
  }

  > a {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  &:hover {
    background-image:
      repeating-linear-gradient(
        -45deg, 
        transparent, 
        transparent 4px,
       rgba(0,0,0, 0.2) 4px,
       rgba(0,0,0,0) 8px
      );
    background-size: 200% 200%;
    animation: barberpole 10s linear infinite;
  }
}

@keyframes barberpole {
  0% {
    background-position: 100% 100%;
  }
}

.Article {
  word-wrap: break-word;
  p {
    margin-bottom: 10px;
    // line-height: 20px !important;
  }
  ul {
    margin-bottom: 15px;
  }
  &__GoBack {
    margin-bottom: 15px;
    display: inline-block;
  }
}