@import "../../Assets/Variables.less";

@nav-border-val: 1px solid @color-black;

.Menu {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: @color-white;
  padding: 10px 5px 10px 0;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 158px;
  // border-radius: @card-border-radius;
  border-top: @nav-border-val;
  border-bottom: @nav-border-val;
  // border-right: @nav-border-val;
  max-width: @mobile-breakpoint;
  display: flex;
  margin: @indent-lr;

  &__Item {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.5em;
    color: @color-black;//white;
    margin-right: 10px;
    white-space: nowrap;

    > svg {
      margin-right: 5px;
    }

    @media (min-width: 700px) {
      margin-bottom: 10px;
    }

    &--active {
      text-decoration: none;
      &::after {
        margin-left: 5px;
        content: "✓";
        border-radius: 50%;
      }
    }
    &--unselect {
      user-select: none;
    }
    &--bg {
      margin-left: auto;
      margin-right: 0;
      // TODO: add breakpoint value, and recheck @mobile-width
      @media (max-width: @mobile-width-upd) {
        display: none;
      }
    }
  }

  &_List {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  &_List_Item {
    margin: 0;
    padding: 0;
  }
  
}

