.Menu {
  @media (min-width: 700px) {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    min-width: 110px;
  }
  &__Item {
    text-decoration: underline;
    color: white;
    margin-right: 10px;
    @media (min-width: 700px) {
      margin-bottom: 10px;
    }
    &--active {
      text-decoration: none;
      &::after {
        content: " ↓";
      }
      @media (min-width: 700px) {
        &::after {
          content: " →";
        }
      }
    }
  }

}
