@import "../../Assets/Variables.less";
@import "../../Assets/Mixins.less";

.Gal--Item {
  padding: 12px;
  margin-right: 20px;

  @media (min-width: @mobile-width) {
    text-decoration: none;
  }
  
  &:hover {
    .barberpole-animation();
  }
}

.Gal__Column {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.Gal__Wrapper {
  display: flex;
  @media (max-width: @mobile-width) {
    flex-direction: column;

    .Gal__Column {
      margin-bottom: 20px;
    }
  }
}