@import "../../Assets/Variables.less";
@import "../../Assets/Mixins.less";

@padding: 12px;

.Gal__Wrapper {
  display: flex;
  margin-top: 20px;

  @media (max-width: @mobile-width) {
    flex-direction: column;

    .Gal__Column {
      margin-bottom: 20px;
    }
  }
}

.Gal--Item {
  padding: @padding @padding*2 @padding 0;  

  @media (min-width: @mobile-width) {
    text-decoration: none;
  }
  
  &:hover {
    padding-left: @padding;
    padding-right: @padding;
    transition: .18s padding linear;
    .barberpole-animation();
  }
}

.Gal__Column {
  column-span: all;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
