@import "../../Variables.less";

.About {
  padding: 20px;
  width: auto;
  font-size: 17px;
  line-height: 19px;
  border-radius: 7px;

  &_dark {
    background-color: rgba(0, 0, 0, 0.28);
  }

  h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  @media (min-width: @mobileWidth) {
    width: 695px;
  }

  svg {
    height: 12px;
  }

  .p {
    margin-bottom: 5px;
  }

  hr {
    opacity: 0.42;
  }
}

