.Page__Github {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.Page__GithubItem {
    flex: 1 0 auto;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.04);
    transition: background-color .3s linear;
    margin-right: 20px;
    &:hover {
      background-color: rgba(255,255,255,0.09);
    }
    .Page__GithubItemInner {
      margin: 10px
    }
  // TODO
  .centered-label {
    display: flex;
    align-items: center;
    > svg {
      margin-right: 5px;
    }
  }
}

.GithubItem__Link {
  display: block;
  margin-bottom: 14px;
}