@import "../../Assets/Variables.less";

.Footer {
    background-color: @color-white;
    width: @mobile-breakpoint;
    margin: 0 10px 0 10px;
    padding: 20px;
    width: auto;
    font-size: 16px;
    line-height: 20px;
}