@import 'reset';

body {
  background-color: #17293a;
  font-family: 'Lato', sans-serif;
  &, a {
    color: white;
  }
}

// rename later
.Wrap {
  padding: 20px;
  @media (min-width: 700px) {
    display: flex;
  }
}

.Page {
  padding-top: 15px;

  @media (min-width: 700px) {
    padding-top: 0;
  }
}

//todo: fix
#background {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

